{
	"extends": ["plugin:@wordpress/eslint-plugin/recommended"],
	"rules": {
		"no-nested-ternary": "off",
		"react-hooks/exhaustive-deps": "off",
		"import/no-unresolved": [2, { "ignore": ["^@inseri/"] }]
	}
}
