@charset "utf-8";
@import '~bulma/bulma';

/**
 * 	Admin - Panel
 */

$admin-primary-color: #2271b1;
$admin-primary-dark-color: #135e96;
$admin-small-font-size: 0.85rem;

.admin-button {
	@extend .button;

	color: var(--wp-admin-theme-color, $admin-primary-color);
	border-color: var(--wp-admin-theme-color, $admin-primary-color);
	background-color: transparent;
	font-size: $admin-small-font-size;
	border-radius: 3px;
	padding: 0 0.65rem;

	&:hover,
	&.is-hovered {
		background: hsl(0, 0%, 98%);
		border-width: 1.5px;
		border-color: var(
			--wp-admin-theme-color-darker-20,
			$admin-primary-dark-color
		);
		color: var(--wp-admin-theme-color-darker-20, $admin-primary-dark-color);
	}
	&:focus,
	&.is-focused {
		background: hsl(0, 0%, 98%);
		border-width: 2px;
		border-color: var(
			--wp-admin-theme-color-darker-20,
			$admin-primary-dark-color
		);
		color: var(--wp-admin-theme-color-darker-20, $admin-primary-dark-color);
	}
	&:active,
	&.is-active {
		background: hsl(0, 0%, 98%);
		border-color: #000;
		color: #000;
	}
}

.admin-select {
	@extend .select;
	font-size: $admin-small-font-size;

	> select {
		background-image: none !important;
	}
}

.admin-input {
	@extend .input;
	font-size: $admin-small-font-size;
}
