name: 'deploy to WP manually'

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Enter tag version (eg v0.1.0) or branch name (eg main)'
        type: string
        required: true
        default: main
      push-tag:
        type: boolean
        description: 'Push to tag'
        default: false
      push-trunk:
        type: boolean
        description: 'Push to trunk'
        default: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ inputs.version }}

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - run: npm ci
      - run: npm run build
      - run: npm run plugin-zip

      - uses: actions/upload-artifact@v5
        with:
          name: ready-zip
          path: inseri-core.zip
          retention-days: 14

  deploy:
    name: Deploy to WordPress.org
    needs: build
    uses: ./.github/workflows/deploy-wp.yml
    secrets: inherit
    with:
      push-tag: ${{ inputs.push-tag }}
      push-trunk: ${{ inputs.push-trunk }}
      version: ${{ inputs.version }}
